$dark-color: #333a4d;
$white-color: #fafafa;
$container-color: #ddd;
$bubble-1-color: fuchsia;
$bubble-2-color: cyan;
$bubble-3-color: darkorange;

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: $dark-color;
}

#area {
  position: relative;
  width: 50px;
  height: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.animation-container {
  position: relative;
  height: 90px;
  width: 30px;
  border: 2px solid $container-color;
  border-radius: 13px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.animation-container {
  height: 65px;
  width: 30px;
  border: 2px solid $container-color;
  border-radius: 13px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
  margin: 30px;
  bottom: 0;
  position: absolute;
  left: -21px;
  bottom: -25px;
}
.animation-container::before {
  content: '';
  position: absolute;
  height: 9px;
  width: 30px;
  top: -8px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border: 2px solid $container-color;
  z-index: 1;
}
.animation-object {
  width: calc(100% - 4px);
  background: $container-color;
  position: absolute;
  bottom: 1px;
  border-radius: 13px;
  height: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom: 2px solid $container-color;
  border-top: 0;
  background: $white-color;
  height: 70%;
}

// Bubbles
.bubble {
  -webkit-animation-name: bubbles;
  animation-name: bubbles;
  animation-iteration-count: infinite;
  opacity: 1;
  border-radius: 50%;
  position: absolute;
  
  &.bubble-1 {
    animation-duration: 2.5s;
    background: $bubble-1-color;
    height: 10px;
    width: 10px;
    top: 40px;
  }
  &.bubble-2 {
    animation-duration: 2s;
    animation-delay: 1s;
    background: $bubble-2-color;
  
    height: 8px;
    width: 8px;
    top: 40px;
    left: 15px;
  }
  &.bubble-3 {
    animation-duration: 2.5s;
    animation-delay: 1.5s;
    background: $bubble-3-color;
    height: 10px;
    width: 10px;
    top: 40px;
    right: 15px;
  }
}

@keyframes bubbles {
  0% {
    top: 40px;
    opacity: 1;
  }
  100% {
    top: -30px;
    opacity: 0;
  }
}
