:root {
  --size: 8em;
  --spinner-color: #337ab7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1d1f20;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.rotating-plane {
  width: var(--size);
  height: var(--size);
  margin: auto;
  background-color: var(--spinner-color);
  animation: rotationPlane 1.2s infinite ease-in-out;
}
@keyframes rotationPlane {
  0% {
    transform: perspective(240px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(240px) rotateX(-180deg) rotateY(0deg);
  }
  0% {
    transform: perspective(240px) rotateX(-180deg) rotateY(-180deg);
  }
}
