* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #98cfb2;
}

.pendulum {
  position: absolute;
  width: 13.75rem;
  height: 11.25rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5%;
  align-items: center;
  border-top: 0.9375rem solid #eee7d5;
}
.pendulum-box {
  display: flex;
  padding: 120px 0 0 10px;
  position: absolute;
  flex: 1;
}
.ball {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #455681;
  position: relative;
  transform-origin: 50% -300%;
}
.ball::before {
  content: '';
  width: 0.125rem;
  height: 7.5rem;
  background-color: #fffeff;
  left: 1.1875rem;
  top: -7.5rem;
  position: absolute;
}
.ball.first {
  animation: firstball 0.9s alternate ease-in infinite;
}
@keyframes firstball {
  0% {
    transform: rotate(35deg);
  }
  50% {
    transform: rotate(0deg);
  }
}

.ball.last {
  animation: lastball 0.9s alternate ease-out infinite;
}
@keyframes lastball {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-35deg);
  }
}
